@import "tailwindcss";

:root {
  --background: #0b0f1a;
  --foreground: #ffffff;
}

body {
  background-color: #0b0f1a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* On force le fond sombre même si le navigateur est en mode clair */
html {
  background-color: #0b0f1a;
}