@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@layer base {
  body {
  background-color: #020617;
  color: #f8fafc;
  overflow: hidden; /* Empêche le scroll sauvage sur tout le body */
}

/* Scrollbar personnalisée style Luxe */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

@layer components {
  .btn-elite {
    @apply bg-blue-600 text-white px-5 py-2.5 rounded-lg flex items-center gap-2 cursor-pointer;
  }
}